* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

* {
  transition: 1s;
}

* {
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
}

* a {
  color: #222;
}

@media (min-width: 1024px) {
  #root {
    height: 350vh;
  }
  header {
    width: 65%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header > section:first-child {
    display: none;
  }
  header > section:last-child {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header > section:last-child > div:nth-child(1) {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  header > section:last-child > div:nth-child(1) > div:first-child {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 18%;
    padding-left: 2vw;
  }
  header > section:last-child > div:nth-child(1) > div:first-child > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  header > section:last-child > div:nth-child(1) > div:first-child > a > div:first-child {
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-size: contain;
    background-repeat: no-repeat;
  }
  header > section:last-child > div:nth-child(1) > div:first-child > a > div:last-child {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    color: #2c2c2c;
  }
  header > section:last-child > div:nth-child(1) > div:last-child {
    width: 55%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
  }
  header > section:last-child > div:nth-child(2) {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
    border-top: #2c2c2c 1px solid;
    border-bottom: #2c2c2c 1px solid;
  }
  header > section:last-child > div:nth-child(2) > div:first-child {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  header > section:last-child > div:nth-child(2) > div:last-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
  .site-menu {
    font-size: 0.8rem;
    font-weight: 450;
    color: #2c2c2c;
  }
  .dropdown {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .dropdown:hover .item {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
  }
  .dropdown-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    color: #2c2c2c;
  }
  .item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 550;
    color: #2c2c2c;
    display: none;
  }
  .item > a {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .item > a:hover {
    font-size: 1rem;
    font-weight: 600;
    color: #ff7c7c;
  }
  .search-box {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .text-area {
    width: 200px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2c2c2c;
    position: relative;
    top: 0%;
    left: -10%;
    z-index: 100;
  }
  .search-btn {
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 25%;
    left: 83%;
    z-index: 100;
  }
  #slide {
    width: 65%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .slick-slide {
    width: auto;
    height: auto;
  }
  .slick-slide > div {
    width: 100%;
    height: 100%;
  }
  .slick-dots {
    top: 80%;
  }
  main {
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  #main-left {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    left: 10%;
  }
  .accordion-box {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .accordion-box > h2 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid #8F2B5F;
    padding-bottom: 1vw;
  }
  .accordion {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .accordion > .label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #363636;
    position: relative;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .accordion > .label::before {
    content: "+";
    position: absolute;
    left: 250px;
  }
  .accordion > .sub-menu {
    font-size: 1rem;
    position: relative;
    width: 288px;
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid #b8648e;
  }
  .accordion.active > .label::before {
    content: "-";
    font-size: 1.5rem;
    font-weight: 500;
    color: #363636;
  }
  .accordion.active > .sub-menu {
    width: 288px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #b8648e;
    transition: all 1s;
    padding-left: 1vw;
  }
  #main-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #main-right > div {
    margin-left: 2vw;
  }
  #best {
    width: 95%;
    height: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #best > div {
    width: 45%;
    height: 45%;
  }
  #brand {
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #brand > ul {
    width: 15%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #categories {
    width: 95%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #recommend {
    width: 95%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .carousel-prev, .carousel-next {
    width: 5%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(242, 204, 224, 0.1);
  }
  .carousel-prev:hover, .carousel-next:hover {
    width: 15%;
  }
  #popular {
    width: 95%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .carousel-prev2, .carousel-next2 {
    width: 5%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(242, 204, 224, 0.1);
  }
  .carousel-prev2:hover, .carousel-next2:hover {
    width: 15%;
  }
  #set {
    width: 95%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .carousel-wrapper3 {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .carousel-slide3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .carousel-slide3 > div:first-child {
    margin-left: 0px;
  }
  .carousel-slide3 > div:nth-child(2), .carousel-slide3 div:nth-child(3) {
    display: none;
  }
  .carousel-prev3, .carousel-next3 {
    display: none;
  }
  .carousel-prev3:hover, .carousel-next3:hover {
    display: none;
  }
  footer {
    width: 92%;
    height: 18%;
  }
  footer > div:nth-child(1) {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer > div:nth-child(2) {
    display: none;
  }
  footer > div:nth-child(3) {
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .foot-manual {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .foot-manual > div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .foot-left {
    border-left: #838383 1px solid;
    padding-left: 1vw;
  }
  .foot-left > div:nth-child(1) {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .foot-left > div:nth-child(1) > div:nth-child(1) {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
  }
  .foot-left > div:nth-child(1) > div:nth-child(1) > img {
    margin-right: 10px;
  }
  .foot-left > div:nth-child(1) > div:nth-child(2) {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 550;
    color: #222;
    padding: 2px;
  }
  .foot-left > div:nth-child(2) {
    margin-left: 0.5vw;
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-left: #838383 1px solid;
    padding-left: 0.5vw;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838383;
    line-height: 2;
  }
  .foot-left > div:nth-child(3) {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .foot-left > div:nth-child(3) > div:nth-child(1) {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
  }
  .foot-left > div:nth-child(3) > div:nth-child(1) > img {
    margin-right: 10px;
  }
  .foot-left > div:nth-child(3) > img {
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 1vw;
  }
  .foot-left > div:nth-child(3) > div:nth-child(3) {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838383;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
  }
  .foot-mid {
    border-left: #838383 1px solid;
    border-right: #838383 1px solid;
  }
  .foot-mid > div:nth-child(1) {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    padding-left: 0.5vw;
  }
  .foot-mid > div:nth-child(1) > img {
    margin-right: 10px;
  }
  .foot-mid > div:nth-child(2) {
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .foot-mid > div:nth-child(2) > span {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838383;
    line-height: 2;
    margin-top: 2px;
  }
  .foot-mid > div:nth-child(2) > span:last-child {
    color: red;
  }
  .foot-right {
    border-right: #838383 1px solid;
  }
  .foot-right > div:nth-child(1) {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    padding-left: 0.5vw;
  }
  .foot-right > div:nth-child(1) > img {
    margin-right: 10px;
  }
  .foot-right > div:nth-child(2) {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .foot-right > div:nth-child(2) > div:nth-child(1) {
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .foot-right > div:nth-child(2) > div:nth-child(1) > a {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .foot-right > div:nth-child(2) > div:nth-child(1) > a > img {
    width: 124px;
    height: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .foot-right > div:nth-child(2) > div:nth-child(2) {
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5vw;
    border-bottom: #D9D9D9 1px dotted;
  }
  .foot-right > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838383;
    line-height: 1.5;
  }
  .foot-right > div:nth-child(2) > div:nth-child(2) > span {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    color: red;
    line-height: 1.5;
  }
  .foot-right > div:nth-child(3) {
    width: 90%;
    height: 43%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .foot-right > div:nth-child(3) > img {
    width: 134px;
    height: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: -35%;
  }
  .foot-right > div:nth-child(3) > div {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    color: #838383;
    line-height: 1.8;
  }
  .foot-menu {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ebebeb;
    border-top: #BDBCBC 1px solid;
    border-bottom: #BDBCBC 1px solid;
  }
  .foot-menu > a {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.9rem;
    font-weight: 400;
    color: #838383;
    border-right: #BDBCBC 1px solid;
  }
  .copyright {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 400;
    color: #BDBCBC;
  }
}/*# sourceMappingURL=desktop_ver.css.map */