* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: 1s;
}

* {
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 500vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #BDBCBC;
}
header > h1 {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 5vw;
}
header > div {
  width: 15%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header > div > i {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
header > ul {
  display: none;
}

main {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #e2e2e2;
}

#slide {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

#best {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
}
#best > div {
  width: 100%;
  height: 24.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: solid 2px black;
}
#best > div:nth-child(1) {
  background-color: wheat;
}
#best > div:nth-child(2) {
  background-color: royalblue;
}
#best > div:nth-child(3) {
  background-color: palevioletred;
}
#best > div:nth-child(4) {
  background-color: teal;
}

#brand {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: salmon;
}

#categories {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: thistle;
}
#categories > div:nth-child(1) {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
#categories > div:nth-child(2) {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#categories > div:nth-child(2) > div {
  cursor: pointer;
}
#categories > div:nth-child(3) {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#categories > div:nth-child(3) > div {
  cursor: pointer;
}

#recommend {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}
#recommend > div:first-child {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: dimgray;
  color: white;
}
#recommend > div:last-child {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#recommend > div:last-child > div {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#recommend > div:last-child > div > div:nth-child(1) {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: aliceblue;
}
#recommend > div:last-child > div > div:nth-child(2) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.7rem;
}
#recommend > div:last-child > div > div:nth-child(3) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
}

#popular {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: green;
}
#popular > div:first-child {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: dimgray;
  color: white;
}
#popular > div:last-child {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#popular > div:last-child > div {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#popular > div:last-child > div > div:nth-child(1) {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: aliceblue;
}
#popular > div:last-child > div > div:nth-child(2) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.7rem;
}
#popular > div:last-child > div > div:nth-child(3) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
}

#set {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: darkorange;
}
#set > div:first-child {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: dimgray;
  color: white;
}
#set > div:last-child {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#set > div:last-child > div {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#set > div:last-child > div > div:nth-child(1) {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: aliceblue;
}
#set > div:last-child > div > div:nth-child(2) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.7rem;
}
#set > div:last-child > div > div:nth-child(3) {
  width: 15vw;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.8rem;
}

footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #838383;
}
footer > div:nth-child(1) {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 550;
  color: white;
}
footer > div:nth-child(2) {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
footer > div:nth-child(2) > div {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer > div:nth-child(2) > div > div {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer > div:nth-child(2) > div > div:nth-child(1) {
  width: 50%;
  height: 50%;
}
footer > div:nth-child(2) > div > div:nth-child(2) {
  width: 30%;
  height: 50%;
}/*# sourceMappingURL=style.css.map */