@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------

// hamberger-menu---------------------------------------
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 4%;
  left: 5%;
  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: .25s;
  background-color: rgb(47, 47, 47);
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  @include mixin.container-style(40%, 90%, space-around, center, column);

  width: 80%;
  height: 90%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: rgba(143, 43, 95,0.8);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  // border: solid black 1px;
  // padding: 12px 24px;
  @include mixin.container-style(200px,50px, center, center);
  @include mixin.font(1.2rem, 600, rgb(255, 255, 255));
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #ffffff;
  border-radius: 40px;
  color: rgb(47, 47, 47);
}

// slide---------------------------------------

// class-setting-----------------------------------------

#root{
  @include mixin.container-style(100vw, 400vh, space-between, center, column );

}

header{
  @include mixin.container-style(100%, 2%, space-around, center);
  // background-color: salmon;
  position: relative;
  z-index: 1;

  &>section:first-child{
    @include mixin.container-style(100%, 100%, center, center);

    &>div:last-child{
      @include mixin.container-style(70%, 100%, center, center);
      // border: solid black 1px;

      &>div:first-child{
        @include mixin.container-style(50%, 100%, center, flex-end);
        @include mixin.font(2rem, 500, #000);
        // border: solid red 1px;
      }
    }
  }

  &>section:last-child{
    display: none;
  }
  

}




// slide-----------------------------------
#slide{
  @include mixin.container-style(100%, 12%, center, center);
  position: relative;
  // z-index: -10;

}

.slider{
  @include mixin.container-style(100%, 100%, center, center);
  position: absolute;
  top: 5%;
  
}

.slick-list{
  @include mixin.size(100%, 90%);
}

.slick-track{
  @include mixin.size(100%, 100%);
}

.slick-slide{
  @include mixin.size(100%, 100%);
  
    &>div{
      @include mixin.size(100%, 80%);
    }
}

.item{
  @include mixin.size(100%, 100%);

  // border: 2px solid black;

  &>a{
    @include mixin.size(100%, 100%);
    &>img{
      @include mixin.size(100%, 100%);
      object-fit: cover;
    }
  }
}

.btn{
  @include mixin.container-style(100%, 10%, space-between, center);
  position: absolute;

  &>span{
    @include mixin.container-style(25px, 25px, center, center);
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;

    &>img{
    @include mixin.size(100%, 100%);
    }
  }

  &>span:hover{
    opacity: 1;
    background-color: rgb(222, 222, 222);
  }
}

#prevArrow{position: relative; left: 1%;  top: -55%;}
#nextArrow{position: relative; right: 1%; top: -55%;}

.slick-dots{
  @include mixin.container-style(100%, 5%, center, center);
  position: absolute;
  top: 80%;
}

// slide-----------------------------------

main{
  // display: none;
  @include mixin.container-style(100%, 90%, space-around, center);
// background-color: chartreuse;
position: relative;
}

#main-left{
  display: none;
}

#main-right{
  @include mixin.container-style(100%, 100%, space-around, center, column);
}

// best-item-----------------------------------
#best{
  @include mixin.container-style(100%, 50%, space-evenly, center, column);
  // background-color: aqua;

  &>div{
    @include mixin.container-style(100%,24%, center, center);
    // border: solid 2px black;

    &>a{
      @include mixin.container-style(100%,100%, center, center);
      
          &>img{
            @include mixin.container-style(100%,100%, center, center);
          }
    }
    // cursor: pointer;
  }

}
// best-item-----------------------------------

// brand-story-----------------------------------
#brand{
  @include mixin.container-style(100%,15%, center, center);
  position: relative;
  // border: solid black 3px;
}
// brand-story-slide-----------------------------------
.slideshow-container {
  @include mixin.container-style(100%,100%, center, center);
  position: relative;

  &>div{
    @include mixin.container-style(100%,100%, center, center);
  }

  &>div:nth-child(1){background-color: lightcoral;}
  &>div:nth-child(2){background-color: lemonchiffon;}
  &>div:nth-child(3){background-color: lightblue;}
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.brand-prev, .brand-next {
  @include mixin.container-style(25px,25px, center, center);
  cursor: pointer;
  position: absolute;
  transition: 0.6s ease;
  top: 50%;
  border-radius: 50%;

  &>img{
    @include mixin.size(100%, 100%);

  }
}

/* Position the "next button" to the right */
.brand-prev{
  left: 1%;
}

.brand-next {
  right: 1%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  @include mixin.size(30px, 30px);
  background-color: rgba(242, 242, 242, 0.8);
}
// brand-story-slide-----------------------------------

// categories-----------------------------------
#categories{
  @include mixin.container-style(100%, 5%, space-around, center, column);
  border-bottom: 1px solid var.$col-5;
  
  &>div:nth-child(1){
    @include mixin.container-style(100%, 25%, center, center);
    @include mixin.font(1.2rem, 500, rgb(255, 255, 255));
    background-color: var.$col-5;
  }

  @for$i from 2 through 3{
    &>div:nth-child(#{$i}){
      @include mixin.container-style(80%, 40%, space-around, center);

      &>div{
        @include mixin.container-style(30%, 90%, center, center);

        &>a{
          @include mixin.container-style(100%, 50%, center, center);
        }

        &>a:hover{
          background-color: #f2cce0;
          border-radius: 20px;
          // font-weight: 550;
        }
      }

    }
  }
}
// categories-----------------------------------

// recommend-item-----------------------------------
#recommend{
  @include mixin.container-style(100%, 8%, space-between, center, column);
  border-bottom: 1px solid var.$col-5;
  position: relative;

  &>div:first-child{
    @include mixin.container-style(100%, 15%, center, center);
    background-color: var.$col-5;
    @include mixin.font(1.2rem, 500, rgb(255, 255, 255));
  }
}

.carousel-wrapper{
  @include mixin.size(95%, 80%);
  overflow: hidden;
  position: relative;
  // border: solid rebeccapurple 1px;
}

.carousel-slide{
  @include mixin.posi(absolute);
  width: 400%;
  height: 100%;
  transition: left 0.5s ease-out; 
  z-index: 0;

  &>div:first-child{
    margin-left: 20px;
  }

  &>div:not(:last-child){
    float: left;
    margin-right: 50px;
  }

  &>div{
    float: left;
  }
}

.carousel-item{
  @include mixin.container-style(200px, 100% ,space-around, center, column);
  // border: dotted 1px darkblue;

  &>a{
  @include mixin.container-style(90%, 100% ,space-around, center, column);

    &>div:first-child{
      @include mixin.container-style(100%, 65% ,center, center);
      background-color: aliceblue;
    }
    &>div:nth-child(2){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }
  
    &>div:nth-child(3){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }
  }
}


.carousel-prev,.carousel-next{
  @include mixin.container-style(10%, 85%, center,center);
  position: absolute;
  border: none;
  background-color: rgba(242, 204, 224,0.2);
  top: 15%;
  z-index: 1;

}

.carousel-prev:hover,.carousel-next:hover{
  width: 20%;
  background-color: rgba(242, 204, 224,0.8);
  z-index: 0;
}

.carousel-prev{
  left: 0;
}
.carousel-next{
  right: 0;
}


// recommend-item-----------------------------------

// popular-item-----------------------------------
#popular{
  @include mixin.container-style(100%, 8%, space-between, center, column);
  border-bottom: 1px solid var.$col-5;
  position: relative;


  &>div:first-child{
    @include mixin.container-style(100%, 15%, center, center);
    background-color: var.$col-5;
    @include mixin.font(1.2rem, 500, rgb(255, 255, 255));
  }
  
  // &>div:last-child{
  //   @include mixin.container-style(95%, 80%, space-between, center);
    
  //   &>div{
  //     @include mixin.container-style(30%, 90%, space-around, center, column);
  //     // border: solid black 1px;

  //     &>div:nth-child(1){
  //       @include mixin.container-style(100%, 65% ,center, center);
  //       background-color: aliceblue;
        
  //     }
      
  //     &>div:nth-child(2){
  //       @include mixin.container-style(100%,15%, center, center);
  //       font-size: 0.7rem;
  //     }

  //     &>div:nth-child(3){
  //       @include mixin.container-style(100%,15%, center, center);
  //       font-size: 0.8rem;
  //     }
  //   }
  // }
}

.carousel-wrapper2{
  @include mixin.size(95%, 80%);
  overflow: hidden;
  position: relative;
  // border: solid rebeccapurple 1px;
}

.carousel-slide2{
  @include mixin.posi(absolute);
  width: 400%;
  height: 100%;
  transition: left 0.5s ease-out; 
  z-index: 0;

  &>div:first-child{
    margin-left: 20px;
  }

  &>div:not(:last-child){
    float: left;
    margin-right: 50px;
  }

  &>div{
    float: left;
  }
}

.carousel-item2{
  @include mixin.container-style(200px, 100% ,space-around, center, column);
  // border: dotted 1px darkblue;

  &>a{
  @include mixin.container-style(90%, 100% ,space-around, center, column);

    &>div:first-child{
      @include mixin.container-style(100%, 65% ,center, center);
      background-color: aliceblue;
    }

    &>div:nth-child(2){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }

    &>div:nth-child(3){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }
  }
}

.carousel-prev2,.carousel-next2{
  @include mixin.container-style(10%, 85%, center,center);
  position: absolute;
  border: none;
  background-color: rgba(242, 204, 224,0.2);
  top: 15%;
  z-index: 1;

}

.carousel-prev2:hover,.carousel-next2:hover{
  width: 20%;
  background-color: rgba(242, 204, 224,0.8);
  z-index: 0;
}

.carousel-prev2{
  left: 0;
}
.carousel-next2{
  right: 0;
}


// popular-item-----------------------------------

// set-item-----------------------------------
#set{
  @include mixin.container-style(100%, 8%, space-between, center, column);
  // background-color: darkorange;
  position: relative;
  border-bottom: 1px solid var.$col-5;

  &>div:first-child{
    @include mixin.container-style(100%, 15%, center, center);
    background-color: var.$col-5;
    @include mixin.font(1.2rem, 500, rgb(255, 255, 255));
  }

  // &>div:last-child{
  //   @include mixin.container-style(95%, 80%, space-between, center);
    
  //   &>div{
  //     @include mixin.container-style(30%, 90%, space-around, center, column);
  //     // border: solid black 1px;

  //     &>div:nth-child(1){
  //       @include mixin.container-style(100%, 65% ,center, center);
  //       background-color: aliceblue;
        
  //     }
      
  //     &>div:nth-child(2){
  //       @include mixin.container-style(100%,15%, center, center);
  //       font-size: 0.7rem;
  //     }

  //     &>div:nth-child(3){
  //       @include mixin.container-style(100%,15%, center, center);
  //       font-size: 0.8rem;
  //     }
  //   }
  // }
}

.carousel-wrapper3{
  @include mixin.size(95%, 80%);
  overflow: hidden;
  position: relative;
  // border: solid rebeccapurple 1px;
}

.carousel-slide3{
  @include mixin.posi(absolute);
  width: 400%;
  height: 100%;
  transition: left 0.5s ease-out; 
  z-index: 0;

  &>div:first-child{
    margin-left: 20px;
  }

  &>div:not(:last-child){
    float: left;
    margin-right: 50px;
  }

  &>div{
    float: left;
  }
}

.carousel-item3{
  @include mixin.container-style(200px, 100% ,space-around, center, column);
  // border: dotted 1px darkblue;

  &>a{
  @include mixin.container-style(90%, 100% ,space-around, center, column);

    &>div:first-child{
      @include mixin.container-style(100%, 65% ,center, center);
      background-color: aliceblue;
    }

    &>div:nth-child(2){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }

    &>div:nth-child(3){
      @include mixin.container-style(100%,15%, center, center);
      font-size: 0.8rem;
    }
  }
}

.carousel-prev3,.carousel-next3{
  @include mixin.container-style(10%, 85%, center,center);
  position: absolute;
  border: none;
  background-color: rgba(242, 204, 224,0.2);
  top: 15%;
  z-index: 1;

}

.carousel-prev3:hover,.carousel-next3:hover{
  width: 20%;
  background-color: rgba(242, 204, 224,0.8);
  z-index: 0;
}

.carousel-prev3{
  left: 0;
}
.carousel-next3{
  right: 0;
}
// set-item-----------------------------------

footer{
  @include mixin.container-style(100%, 8%, center, center, column);
  // background-color: var.$col-dark-gray;
  // border: #000 solid 1px;

  &>div:nth-child(1){
    @include mixin.container-style(100%, 15%, center, center);
    @include mixin.font(1.5rem, 550, var.$col-white);
    background-color: #5D5D5D;
  }

  &>div:nth-child(2){
    @include mixin.container-style(100%, 85%, space-around, center, column);
    background-color: #444;
    // border: solid 2px wheat;

    // &>div{
    //   @include mixin.container-style(100%, 30%, space-between, center);
    //     // background-color: aliceblue;

      
    //   &>div{
    //     &>a{
    //       color: white;
    //       @include mixin.flex(center, center);
    //     }
    //   }
      
    //   &>div:nth-child(1){
    //     @include mixin.size(50%, 50%);
    //     border: solid 1px oldlace;
    //     // background-color: aliceblue;
    //   }
      
    //   &>div:nth-child(2){
    //     @include mixin.size(30%, 50%);
    //     border: solid 1px oldlace;
    //   }
      
    //   // &>div:nth-child(3){
    //   //   @include mixin.container-style(100%, 30%, center, center);
    //   // }
    // }

    &>div{
      @include mixin.container-style(80%, 35%, space-between, center);
      &>div{
        &>a{
          color: white;
          @include mixin.flex(center, center);
        }
      }
    }

    &>div:nth-child(3){
      @include mixin.container-style(80%, 20%, center, center);
      @include mixin.font(0.9rem, 400, var.$col-white);
    }
  }

  &>div:nth-child(3){
    display: none;
  }

}

