@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------

@media(min-width:1024px){
  #root{
    height: 100vh;
    // height: 100vh;
  }

// footer--------------------------------------------------
  footer{
    @include mixin.size(92%,90%);

    &>div:nth-child(1){
      @include mixin.container-style(100%, 8%, center, center);
    }

    &>div:nth-child(2){
      display: none;
    }

    &>div:nth-child(3){
      @include mixin.container-style(100%, 88%, space-around, center, column);
      // border: #ff7c7c solid 1px;
    }
  }

  .foot-manual{
    @include mixin.container-style(100%, 85%, space-around, center);

    &>div{
      @include mixin.container-style(33%, 100%, space-around, center, column);
    }
  }

  .foot-left{

    // background-color: burlywood;
    border-left: var.$col-dark-gray 1px solid;
    padding-left: 1vw;

    &>div:nth-child(1){
      @include mixin.container-style(100%, 15%, space-around, flex-start,column);
      // border: #2c2c2c 2px solid;
      &>div:nth-child(1){
        @include mixin.container-style(100%, 50%, flex-start, center);
        @include mixin.font(1rem, 600, #222);

        &>img{
          margin-right: 10px;
        }
      }

      &>div:nth-child(2){
      @include mixin.container-style(100%, 50%, flex-start, center);
      @include mixin.font(0.8rem, 550, #222);
      padding: 2px;
      }
    }

    &>div:nth-child(2){
      @include mixin.container-style(95%, 35%, flex-start, flex-start,column);
      border-left: var.$col-dark-gray 1px solid;
      @include mixin.font(0.8rem, 500, var.$col-dark-gray);
      line-height: 2;
      padding-left: 0.4vw;
    }

    &>div:nth-child(3){
      @include mixin.container-style(100%, 42%, space-around, flex-start,column);
      
      &>div:nth-child(1){
        @include mixin.container-style(100%, 10%, flex-start, center);
        @include mixin.font(1rem, 600, #222);

        &>img{
          margin-right: 10px;
        }
      }
      
      &>img{
        @include mixin.container-style(55%, 12%, flex-start, center);
        margin-left: 0.5vw;
      }

    }
  }

  .payment{
    
    &>div:nth-child(3){
      margin-left: 0.5vw;
      @include mixin.container-style(95%, 25%, space-around, flex-start, column);
      
      &>div:nth-child(1){
        @include mixin.container-style(80%, 50%, flex-start, center);
        @include mixin.font(0.8rem, 500, var.$col-dark-gray);
      }
      &>img{
        @include mixin.size(14%, 30%);
        margin-left: 0.5vw;
      }
    }

    &>div:nth-child(4){
      margin-left: 0.5vw;
      @include mixin.container-style(95%, 35%, flex-start, flex-start, column);
      @include mixin.font(0.8rem, 500, var.$col-dark-gray);

      &>div:nth-child(1){
        @include mixin.container-style(95%, 35%, flex-start, center);
      }
      &>div:nth-child(2){
        @include mixin.container-style(95%, 35%, flex-start, center);
        padding-left: 0.5vw;
      }
    }
  }

  // refun-txt-style-calss----------------------------
  .bold{
    @include mixin.font(0.8rem, 580, var.$col-dark-gray);
  }

  .bold-red{
    @include mixin.font(0.8rem, 550, red);
  }

  .mid-txt{
    @include mixin.font(0.8rem, 500, var.$col-dark-gray);
    padding-left: 0.8vw;
  }

  // refun-txt-style-calss----------------------------
  .foot-mid{
    // background-color: #ff7c7c;
    border-left: var.$col-dark-gray 1px solid;
    border-right: var.$col-dark-gray 1px solid;

    &>div:nth-child(1){
      @include mixin.container-style(100%, 8%, flex-start, center);
      @include mixin.font(1rem, 600, #222);
      padding-left: 0.5vw;

      &>img{
        margin-right: 10px;
      }
      // border: #222 solid 1px;
    }

    &>div:nth-child(2){
      @include mixin.container-style(90%, 90%, flex-start, center, column);
      // border: #222 solid 1px;

      &>div{
        @include mixin.container-style(98%, auto, flex-start, center);
        // margin-top: 0.5vw;
        line-height: 2;
      }
    }
  }

  .foot-right{
    // background-color: cornflowerblue;
    border-right: var.$col-dark-gray 1px solid;

    &>div:nth-child(1){
      @include mixin.container-style(100%, 8%, flex-start, center);
      @include mixin.font(1rem, 600, #222);
      padding-left: 0.5vw;

      &>img{
        margin-right: 10px;
      }
    }

    &>div:nth-child(2){
      @include mixin.container-style(100%, 48%, flex-start, center, column);


      &>div:nth-child(1){
        @include mixin.container-style(95%, 20%, flex-start, center);
      // border: #222 solid 1px;

        &>a{
          @include mixin.container-style(30%, 100%, space-around, center);
      // border: #222 solid 1px;


          &>img{
            @include mixin.container-style(124px, 19px, flex-start, center);
          }
        }
      }

      &>div:nth-child(2){
        @include mixin.container-style(95%, 70%, flex-start, center, column);
        margin-top: 0.5vw;
        border-bottom: var.$col-gray 1px dotted;
        // border: #222 solid 1px;

        &>div:nth-child(1){
          @include mixin.container-style(90%, 60%, flex-start, center);
          @include mixin.font(0.8rem, 500, var.$col-dark-gray);
          line-height: 2;
          // border: #222 solid 1px;
        }

        &>span{
          @include mixin.container-style(90%, 30%, flex-start, center);
          @include mixin.font(0.8rem, 500, red);
          line-height: 2;
        };
      }
    }

    &>div:nth-child(3){
      @include mixin.container-style(90%, 43%, flex-start, center, column);

      &>img{
        @include mixin.container-style(134px, 19px, flex-start, center);
        position: relative;
        left: -35%;
      }

      &>div{
        @include mixin.container-style(95%, 95%, flex-start, center);
        @include mixin.font(0.8rem, 500, var.$col-dark-gray);
        line-height: 2;
      }
    }
  }
  
  .foot-menu{
    @include mixin.container-style(100%, 5%, center, center);
    background-color: var.$col-bright-gray;
    border-top: var.$col-mid-gray 1px solid;
    border-bottom: var.$col-mid-gray 1px solid;

    &>a{
      @include mixin.container-style(10%, 80%, center, center); 
      @include mixin.font(0.9rem, 400, var.$col-dark-gray);
      border-right: var.$col-mid-gray 1px solid;
    }
  }
  .copyright{
    @include mixin.container-style(100%, 5%, center, center);
    @include mixin.font(0.7rem, 400, var.$col-mid-gray);
  }











}