@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------

#root{
  @include mixin.container-style(100vw, 100vh, space-between, center, column );

}


footer{
  @include mixin.container-style(100%, 690%, center, center, column);
  // background-color: var.$col-dark-gray;
  // border: #000 solid 1px;

  &>div:nth-child(1){
    @include mixin.container-style(100%, 10%, center, center);
    @include mixin.font(1.2rem, 550, var.$col-white);
    background-color: var.$col-dark-gray;
    border-bottom: var.$col-mid-gray 1px solid;
    // border: #000 solid 1px;
  }
  // shopping-guid-part

  &>div:nth-child(3){
    display: none;
  }
}

.mobile-footer{
  @include mixin.container-style(100%, 90%, space-around, center, column);
  background-color:var.$col-dark-gray;

  &>div:nth-child(2){
    @include mixin.container-style(90%, 55%, space-around, center,
    column);
    // border: #ffffff solid 1px;
    
    &>div{
    @include mixin.container-style(100%, 100%, flex-start,center);
    @include mixin.font(0.8rem, 500, var.$col-white);
    line-height: 1.5;
    }
  }

  &>div:last-child{
    @include mixin.container-style(100%, 10%, center, center);
    @include mixin.font(0.8rem, 500, var.$col-white);
  }
}

.footer-menu{
  @include mixin.container-style(100%, 30%, space-around, center);
  // border: #ffffff solid 1px;

  &>div{
    @include mixin.container-style(40%, 90%, space-around, center, column);

    &>div{
      @include mixin.container-style(80%, 20%, flex-start, center);
      &>a{
        @include mixin.size(100%,100%);
        @include mixin.font(0.8rem, 500, var.$col-white);
      }
    }
  }
}